<h1>Recipe</h1>
<p>Title</p>
 <%= @recipe.title %>

   <p>Dificulty Level: <%= @recipe.dificulty_level %></p>

   <p>Ingredients: <%= @recipe.ingrediants %></p>

<p>Procedure:<%= @recipe.procedure %></p>

   <p>CookingTime: <%= @recipe.cookingtime %></p>

   <p>CuisineType :<%= @recipe.cuisine.name%></p>

   <p>FoodType :<%= @recipe.food_type.name%></p>

   <p>FoodPreference :<%= @recipe.food_preference.name%></p>

